---
import "../styles/global.css";
import asciiArt from "../../ascii.txt?raw";
import { getUptime, getGithubUpdatedAt } from "../lib/utils";

const githubUpdatedAt = await getGithubUpdatedAt();

const coloredAscii = asciiArt
	.split("")
	.map((char) => {
		if (["@"].includes(char))
			return `<span class="text-ctp-subtext0">${char}</span>`;
		if (["*", "+", "="].includes(char))
			return `<span class="text-ctp-teal">${char}</span>`;
		if (["#", "%"].includes(char))
			return `<span class="text-ctp-overlay0">${char}</span>`;
		if (["-", ":", "."].includes(char))
			return `<span class="text-ctp-overlay2">${char}</span>`;
		return char;
	})
	.join("");
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>portfolio@milind.dev</title>
	</head>
	<body class="bg-ctp-crust text-ctp-text transition-colors duration-300 p-8">
		<div class="flex gap-10">
			<div>
				<pre
					class="font-mono text-[6px] leading-none overflow-hidden whitespace-pre mb-8 select-none"
					set:html={coloredAscii}
				/>
			</div>
			<div>
				<h1 class="text-3xl">
					<span class="text-ctp-red">portfolio</span><span
						class="text-ctp-overlay2">@</span
					><span class="text-ctp-teal">milind.dev</span>
				</h1>
				<div class="mt-4 flex flex-col gap-2">
					<div class="text-lg">
						<i class="nf nf-md-server text-ctp-peach"></i>
						<span class="text-ctp-green"
							>DevOps & Backend engineer</span
						>
					</div>
					<div class="text-lg">
						<i class="nf nf-fa-wrench text-ctp-peach"></i>
						<span class="text-ctp-green"
							>Grass Labs Pte Ltd / Vellore Institue of Technology</span
						>
					</div>
					<div class="text-lg">
						<i class="nf nf-md-package_down text-ctp-peach"></i>
						<span class="text-ctp-green"
							>5(years of experience), 4(clients), 8(projects)</span
						>
					</div>
					<div class="text-lg">
						<i class="nf nf-md-cursor_text text-ctp-peach"></i>
						<span class="text-ctp-green">2 articles</span>
					</div>
					<div class="text-lg">
						<i class="nf nf-fa-coffee text-ctp-peach"></i>
						<span class="text-ctp-green"
							>{getUptime(new Date(2004, 4, 15))}</span
						>
					</div>
					<div class="text-lg">
						<i class="nf nf-fa-palette text-ctp-peach"></i>
						<div class="inline-flex">
							<span class="bg-ctp-red">&nbsp;&nbsp;&nbsp;</span>
							<span class="bg-ctp-green">&nbsp;&nbsp;&nbsp;</span>
							<span class="bg-ctp-yellow">&nbsp;&nbsp;&nbsp;</span
							>
							<span class="bg-ctp-blue">&nbsp;&nbsp;&nbsp;</span>
							<span class="bg-ctp-pink">&nbsp;&nbsp;&nbsp;</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="flex flex-col">
			<div>
				<span class="text-ctp-red">portfolio</span><span
					class="text-ctp-overlay2">@</span
				><span class="text-ctp-teal">milind.dev</span><span
					class="text-ctp-text">:</span
				><span class="text-ctp-blue">~</span><span class="text-ctp-text"
					>$</span
				><span class="text-ctp-text">&nbsp;ls -la</span>
			</div>
			<div>
				<span class="text-ctp-overlay1">total 5</span>
			</div>
			<div class="grid grid-cols-[auto_auto_auto_auto_1fr] gap-x-4 w-fit">
				<div class="underline">Permissions</div>
				<div class="underline">Size</div>
				<div class="underline">Owner</div>
				<div class="underline">Date Modified</div>
				<div class="underline">Name</div>
				<div>
					<span class="text-ctp-teal">d</span><span
						class="text-ctp-yellow">r</span
					><span class="text-ctp-red">w</span><span
						class="text-ctp-green">x</span
					><span class="text-ctp-peach">r</span><span
						class="text-ctp-overlay1">-</span
					><span class="text-ctp-green">x</span><span
						class="text-ctp-yellow">r</span
					><span class="text-ctp-overlay1">-</span><span
						class="text-ctp-green">x</span
					><span class="text-ctp-text">@</span>
				</div>
				<div class="text-ctp-overlay1">-</div>
				<div class="text-ctp-yellow">milindmadhukar</div>
				<div class="text-ctp-blue">
					{
						new Date().toLocaleDateString("en-US", {
							month: "short",
							day: "numeric",
							hour: "numeric",
							minute: "numeric",
							hour12: false,
						})
					}
				</div>
				<a href="/" class="text-ctp-green">.</a>
				<div>
					<span class="text-ctp-teal">d</span><span
						class="text-ctp-yellow">r</span
					><span class="text-ctp-red">w</span><span
						class="text-ctp-green">x</span
					><span class="text-ctp-peach">r</span><span
						class="text-ctp-overlay1">-</span
					><span class="text-ctp-green">x</span><span
						class="text-ctp-yellow">r</span
					><span class="text-ctp-overlay1">-</span><span
						class="text-ctp-green">x</span
					><span class="text-ctp-text">@</span>
				</div>
				<div class="text-ctp-overlay1">-</div>
				<div class="text-ctp-yellow">milindmadhukar</div>
				<div class="text-ctp-blue">
					{
						new Date(1987, 6, 27).toLocaleDateString("en-US", {
							month: "short",
							day: "numeric",
							hour: "numeric",
							minute: "numeric",
							hour12: false,
						})
					}
				</div>
				<a
					href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
					class="text-ctp-green">..</a
				>
				<div>
					<span class="text-ctp-teal">d</span><span
						class="text-ctp-yellow">r</span
					><span class="text-ctp-red">w</span><span
						class="text-ctp-green">x</span
					><span class="text-ctp-peach">r</span><span
						class="text-ctp-overlay1">-</span
					><span class="text-ctp-green">x</span><span
						class="text-ctp-yellow">r</span
					><span class="text-ctp-overlay1">-</span><span
						class="text-ctp-green">x</span
					><span class="text-ctp-text">@</span>
				</div>
				<div class="text-ctp-overlay1">-</div>
				<div class="text-ctp-yellow">milindmadhukar</div>
				<div class="text-ctp-blue">
					{
						githubUpdatedAt.toLocaleDateString("en-US", {
							month: "short",
							day: "numeric",
							hour: "numeric",
							minute: "numeric",
							hour12: false,
						})
					}
				</div>
				<a
					href="https://github.com/milindmadhukar"
					class="text-ctp-green">.github</a
				>
				<div>
					<span class="text-ctp-teal">d</span><span
						class="text-ctp-yellow">r</span
					><span class="text-ctp-red">w</span><span
						class="text-ctp-green">x</span
					><span class="text-ctp-peach">r</span><span
						class="text-ctp-overlay1">-</span
					><span class="text-ctp-green">x</span><span
						class="text-ctp-yellow">r</span
					><span class="text-ctp-overlay1">-</span><span
						class="text-ctp-green">x</span
					><span class="text-ctp-text">@</span>
				</div>
				<div class="text-ctp-overlay1">-</div>
				<div class="text-ctp-yellow">milindmadhukar</div>
				<div class="text-ctp-blue">
					{
						new Date().toLocaleDateString("en-US", {
							month: "short",
							day: "numeric",
							hour: "numeric",
							minute: "numeric",
							hour12: false,
						})
					}
				</div>
				<a href="mailto:hi@milind.dev" class="text-ctp-green">.email</a>
				<div>
					<span class="text-ctp-teal">d</span><span
						class="text-ctp-yellow">r</span
					><span class="text-ctp-red">w</span><span
						class="text-ctp-green">x</span
					><span class="text-ctp-peach">r</span><span
						class="text-ctp-overlay1">-</span
					><span class="text-ctp-green">x</span><span
						class="text-ctp-yellow">r</span
					><span class="text-ctp-overlay1">-</span><span
						class="text-ctp-green">x</span
					><span class="text-ctp-text">@</span>
				</div>
				<div class="text-ctp-overlay1">-</div>
				<div class="text-ctp-yellow">milindmadhukar</div>
				<div class="text-ctp-blue">
					{
						new Date().toLocaleDateString("en-US", {
							month: "short",
							day: "numeric",
							hour: "numeric",
							minute: "numeric",
							hour12: false,
						})
					}
				</div>
				<a
					href="https://www.linkedin.com/in/milind-madhukar-0726b0211"
					class="text-ctp-green">.linkedin</a
				>
				<div>
					<span class="text-ctp-teal">d</span><span
						class="text-ctp-yellow">r</span
					><span class="text-ctp-red">w</span><span
						class="text-ctp-green">x</span
					><span class="text-ctp-peach">r</span><span
						class="text-ctp-overlay1">-</span
					><span class="text-ctp-green">x</span><span
						class="text-ctp-yellow">r</span
					><span class="text-ctp-overlay1">-</span><span
						class="text-ctp-green">x</span
					><span class="text-ctp-text">@</span>
				</div>
				<div class="text-ctp-overlay1">-</div>
				<div class="text-ctp-yellow">milindmadhukar</div>
				<div class="text-ctp-blue">
					{
						new Date().toLocaleDateString("en-US", {
							month: "short",
							day: "numeric",
							hour: "numeric",
							minute: "numeric",
							hour12: false,
						})
					}
				</div>
				<a href="https://twitter.com/milind_1504" class="text-ctp-green"
					>.twitter</a
				>
				<div>
					<span class="text-ctp-teal">d</span><span
						class="text-ctp-yellow">r</span
					><span class="text-ctp-red">w</span><span
						class="text-ctp-green">x</span
					><span class="text-ctp-peach">r</span><span
						class="text-ctp-overlay1">-</span
					><span class="text-ctp-green">x</span><span
						class="text-ctp-yellow">r</span
					><span class="text-ctp-overlay1">-</span><span
						class="text-ctp-green">x</span
					><span class="text-ctp-text">@</span>
				</div>
				<div class="text-ctp-overlay1">-</div>
				<div class="text-ctp-yellow">milindmadhukar</div>
				<div class="text-ctp-blue">
					{
						new Date().toLocaleDateString("en-US", {
							month: "short",
							day: "numeric",
							hour: "numeric",
							minute: "numeric",
							hour12: false,
						})
					}
				</div>
				<a
					href="https://www.instagram.com/milind_1504"
					class="text-ctp-green">.instagram</a
				>
				<div>
					<span class="text-ctp-teal">d</span><span
						class="text-ctp-yellow">r</span
					><span class="text-ctp-red">w</span><span
						class="text-ctp-green">x</span
					><span class="text-ctp-peach">r</span><span
						class="text-ctp-overlay1">-</span
					><span class="text-ctp-green">x</span><span
						class="text-ctp-yellow">r</span
					><span class="text-ctp-overlay1">-</span><span
						class="text-ctp-green">x</span
					><span class="text-ctp-text">@</span>
				</div>
				<div class="text-ctp-overlay1">-</div>
				<div class="text-ctp-yellow">milindmadhukar</div>
				<div class="text-ctp-blue">
					{
						new Date().toLocaleDateString("en-US", {
							month: "short",
							day: "numeric",
							hour: "numeric",
							minute: "numeric",
							hour12: false,
						})
					}
				</div>
				<a href="/projects" class="text-ctp-green">projects</a>
				<div>
					<span class="text-ctp-teal">d</span><span
						class="text-ctp-yellow">r</span
					><span class="text-ctp-red">w</span><span
						class="text-ctp-green">x</span
					><span class="text-ctp-peach">r</span><span
						class="text-ctp-overlay1">-</span
					><span class="text-ctp-green">x</span><span
						class="text-ctp-yellow">r</span
					><span class="text-ctp-overlay1">-</span><span
						class="text-ctp-green">x</span
					><span class="text-ctp-text">@</span>
				</div>
				<div class="text-ctp-overlay1">-</div>
				<div class="text-ctp-yellow">milindmadhukar</div>
				<div class="text-ctp-blue">
					{
						new Date().toLocaleDateString("en-US", {
							month: "short",
							day: "numeric",
							hour: "numeric",
							minute: "numeric",
							hour12: false,
						})
					}
				</div>
				<a href="/work" class="text-ctp-green">work</a>
				<div>
					<span class="text-ctp-teal">d</span><span
						class="text-ctp-yellow">r</span
					><span class="text-ctp-red">w</span><span
						class="text-ctp-green">x</span
					><span class="text-ctp-peach">r</span><span
						class="text-ctp-overlay1">-</span
					><span class="text-ctp-green">x</span><span
						class="text-ctp-yellow">r</span
					><span class="text-ctp-overlay1">-</span><span
						class="text-ctp-green">x</span
					><span class="text-ctp-text">@</span>
				</div>
				<div class="text-ctp-overlay1">-</div>
				<div class="text-ctp-yellow">milindmadhukar</div>
				<div class="text-ctp-blue">
					{
						new Date().toLocaleDateString("en-US", {
							month: "short",
							day: "numeric",
							hour: "numeric",
							minute: "numeric",
							hour12: false,
						})
					}
				</div>
				<a href="/blog" class="text-ctp-green">blog</a>
			</div>
		</div>
	</body>
</html>
